body{
    background: var(--background-color) !important;
}

:root{
    --primary: #1B1B32;

    --background-color : #eceeff;

    --hover-color : blue;

    --second-color: #605555;
}


section{
    margin: 30px 0;
}
.section-headers {
    margin-bottom: 10px;
}
.section-headers h4{
    font-size: 1.75rem;
    font-weight: 650;
}
/* Buttons styles */
.my-blank_button{
    margin-top: 20px !important;
    margin: 15px 0;
    padding: 5px 14px;
    text-decoration: none;
    color: var(--background-color);
    border: 1px solid var(--background-color);
    /* border-radius: 50px; */
    font-weight: 500;
}
.my-blank_button:hover {
    color: var(--primary) !important;
    background-color: var(--background-color);
    transition: 1s;
}

.my-fill_button{
    margin-top: 20px !important;
    text-decoration: none;
    margin: 15px 0;
    padding: 5px 14px;
    background-color: var(--background-color);
    /* border: 1px solid var(--background-color); */
    color: var(--primary);
    /* border-radius: 50px; */
    font-weight: 500;
}
.my-fill_button:hover {
    color: var(--background-color);
    border: 1px solid var(--background-color);
    background:none;
    transition: 1s;
}
i {
    font-size: 18px;
    margin: 5px;
}



/* navbar area */
header .navBar-section nav{
    background-color: var(--primary) !important;
}

header .offcanvas{
    background-color: var(--primary) !important;
}


/* hero-profile area */
header section{
    margin-top: 0 !important;
    font-weight: 200;
}
header .hero-profile{
    padding: 75px 0;
    margin-top: 0 !important;
    background-color: var(--primary);
    color: var(--background-color);
}
header .hero-profile .hero-title{
    font-family: 'Courgette', cursive !important;
}
header .hero-profile .hero-profile-image img{
    height: 12rem;
    width: 12rem;
    border: 5px solid rgba(122, 122, 150, 0.75);
}
header .hero-profile .hero-info{
    margin-top: 25px;
}
header .hero-profile .hero-info h1{
    letter-spacing: -2px;
    font-weight: 700;
}
header .hero-profile .hero-info .hero-paragraph{
    margin: 10px 25px;
    font-weight: 450;
}
header .hero-profile .hero-info .hero-buttons {
    margin-top: 20px;
}
header .hero-profile .hero-info .hero-buttons a{
    color: var(--background-color);
    margin: 5px;
}

/* Projects Area */
.portfolio-menu{
    text-align: center;
    margin-top: 25px;
}
.portfolio-menu ul li{
    display: inline-block;
    margin: 0 5px;
    list-style: none;
    padding: 5px 25px;
    font-size: 1vw;
    font-weight: 500;
    color: var(--background-color);
    background-color: var(--primary);
    border: 2px solid var(--primary);
    cursor: pointer;
    -webkit-transition: all 0.5 ease;
    -moz-transition: all 0.5 ease;
    -ms-transition: all 0.5 ease;
    -o-transition: all 0.5 ease;
    transition: all 0.5 ease;
}
.portfolio-menu ul li:hover{
    background: var(--primary);
    color: #FFFFFF;
}
.portfolio-item{
    width: 100%;
}
.portfolio-item .item{
    width: 200px;
    float: left;
    margin: 10px;
}
li.active{
    background: var(--background-color) !important;
    color: var(--primary) !important;
}


.project-single{
    position: relative;
    margin: 20px 0;
    padding: 5px 0;
}
.project-title{
    position: absolute;
    height: 60px;
    width: calc(100% - 30px);
    margin: -30px 15px 30px 15px;
    /* display: flex; */
    align-items: center;
    background-color: var(--background-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, .12);
    align-items: center;
}
.project-title h5{
    float: left;
}
/* Drop Message Area */
.dropMessage{
    padding: 50px 0 !important;
    background-color: var(--primary);
    color: #FFFFFF;
}
/* My Profile Section */
.profile-body .profile-single{
    padding: 25px 0;
}

.profile-body .profile-single-image{
    padding: 15px 0;
}

.profile-body .profile-single-image img{
    height: 2rem;
}

.profile-single .profile-single-button a{
    text-decoration: underline;
}
.profile-single .profile-single-button a:hover {
    color: var(--primary);
}

.profile-single .profile-single-button a i{
    margin: 5px;
    color: var(--primary);
}

.singleArticle {
    background-color: var(--primary) !important;
    color: var(--background-color);
    border: none !important;
    border-radius: 0% !important;
    box-shadow: 15px 15px 0px -10px rgba(27,27,50,0.30);
    -webkit-box-shadow: 15px 15px 0px -10px rgba(27,27,50,0.30);
    -moz-box-shadow: 15px 15px 0px -10px rgba(27,27,50,0.30);
}
.singleArticle img{
    border: none !important;
    border-radius: 0% !important;
}
.singleArticle-body {
    padding: 25px !important;
}
/* footer section */
footer {
    padding-bottom: 0 !important;
    margin-top: 50px !important;
}
footer section{
    padding-bottom: 0;
}
footer .footer-body .footer-text h3 {
    font-weight: 700;
    letter-spacing: -.65px;
    color: var(--primary);
}
footer .footer-body .footer-icons a {
    font-size: 1.2rem;
    /* margin: .2rem; */
    /* padding: .2rem; */
    color: var(--second-color);
    /* background-color: var(--primary); */
    /* border: 1px solid var(--primary); */
    /* border-radius: 50%;  */

}
footer .footer-body .footer-icons a:hover {
    color: var(--primary);
    /* background-color: var(--hover-color); */
}
footer .footer-body .footer-contact a {
    /* display: flex; */
    /* justify-content: center;  */
    text-decoration: none;
    color: var(--primary);
}
footer .footer-body .footer-contact .footer-contact-single {
    margin: 0px 5px;
    color: var(--primary);
}
footer .footer-body .copyright {
    margin-top: 15px;
}
footer .footer-body .copyright a {
    text-decoration: none;
    color:#707070;
    font-size: 14px;
}