body{
	/**font-family: 'Noto Sans JP', sans-serif; **/
}
/** section-info **/
.section-info{
	padding-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.section-info h6 {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ff3a5a;
    margin-bottom: 10px;
}
.section-info h4 {
	color: #041D38;
	font-size: 45px;
    font-weight: 700;
    letter-spacing: 2px;
	margin-bottom: 10px;
}
.section-info h5 {
	font-size: 14px;
	font-weight: 500;
	color: #666666;
    letter-spacing: 2px;
	margin-bottom: 10px;
}
.section-info .icofont-caret-down{
	display: inline-block;
	animation: up_down 1s linear infinite alternate ;
    -webkit-animation: up_down 1s linear infinite alternate ;
}
@keyframes up_down{
    0%{
        transform: translateY(-5%);
        -webkit-transform: translateY(-5%);
        -moz-transform: translateY(-5%);
        -ms-transform: translateY(-5%);
        -o-transform: translateY(-5%);
}
    100%{
    transform: translateY(5%);
    -webkit-transform: translateY(5%);
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -o-transform: translateY(5%);
}
}
.section-info i{
	font-size: 35px;
    font-weight: 700;
	color: #ff3a5a;
}
/** Nav **/
.menu-bar{
	background: #0082e6;
}
.menu-bar .logo{
	font-family: 'Kaushan Script', cursive;
}
nav{
	background: #0082e6;
	height: 80px;
	width: 100%;
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active,a:hover{
	background: #1b9bff;
	transition: .5s;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
@media (max-width: 952px){
	label.logo{
	  font-size: 30px;
	  padding-left: 50px;
	}
	nav ul li a{
	  font-size: 16px;
	}
}
@media (max-width: 858px){
	.checkbtn{
	  display: block;
	}
	ul{
	  position: fixed;
	  width: 100%;
	  height: 100vh;
	  background: #2c3e50;
	  top: 80px;
	  left: -100%;
	  text-align: center;
	  transition: all .5s;
	}
	nav ul li{
	  display: block;
	  margin: 50px 0;
	  line-height: 30px;
	}
	nav ul li a{
	  font-size: 20px;
	}
	a:hover,a.active{
	  background: none;
	  color: #0082e6;
	}
	#check:checked ~ ul{
	  left: 0;
	}
}
/** Home **/
.home-info{
	padding: 200px 0px;
	
}
.home-info h1{
	font-family: 'Philosopher', sans-serif;
	color: #102E46;
	font-size: 60px;
	font-weight: 700;
}
.home-info h3{
	font-family: 'Philosopher', sans-serif;
	color: #102E46;
	font-size: 20px;
	font-weight: 200
}
.title_1 p{
	color: #505d68;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 10px;
}
.title-hm span{
	color: #102E46;
	font-size: 22px;
	font-weight: 200;
	letter-spacing: -4px;
	padding: 0px 4px;
}
.home-button{
	margin: 20px 0px;
}
.home-button .btn:focus{
	outline-style: none;
}
.home-button-1{
	padding: 7px 30px;
	color: #FFFFFF;
	background-color: #102E46;
	border: 1px solid #102E46;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 600;
	margin-right: 15px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.home-button-1:hover{
	color: #102E46;
	background-color: #FFFFFF;
	border: 1px solid #102E46;
}
.home-button-2{
	padding: 7px 30px;
	color: #102E46;
	background-color: #C5E0E9;
	border: 1px solid #C5E0E9;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 600;
	margin-right: 15px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.home-button-2:hover{
	color: #102E46;
	background-color: #FFFFFF;
	border: 1px solid #102E46;
}
.pro_image {
	padding: 20px 20px;
}
/** Do-section **/
.do{
	background-color: #F8F8F8;
	padding: 50px 0px;
}
/** Creative-section **/
.creative{
	padding: 50px 0px;
}
.creative-section-element{
	padding: 0px 180px;
}
.skills-menu{
    text-align: center;
}
.skills-menu ul li{
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    color: #FF3A5A;
    border: 2px solid #FF3A5A;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all 0.5 ease;
    -moz-transition: all 0.5 ease;
    -ms-transition: all 0.5 ease;
    -o-transition: all 0.5 ease;
    transition: all 0.5 ease;
}
.skills-menu ul li:hover{
    background: #FF3A5A;
    color: #FFFFFF;
}
.skills-menu ul li.active{
    background: #FF3A5A;
    color: #FFFFFF !important;
}
.tabPanel{
	display: none;
}
.skills-text{ 
	width: 100%; 
}
.skills-text h5{
	color: #041D38;
	font-size: 15px;
	font-weight: 700;
	margin: 5px 10px;
	text-align: left;
}
.skills-text span{
	float: right;
}
.skills-bar{
	height: 50px;
	width: 100%;
}
.skills-full{
	background-color: #ff3a5a;
	height: 15px;
	width: 60px;
	float: left;
	margin: 5px;
    transform: skew(-15deg);
	border-radius: 3px;
}
.skills-null{
	background-color: #dadada;
	height: 15px;
	width: 60px;
	float: left;
	margin: 5px;
    transform: skew(-20deg);
	border-radius: 3px;
}
/** half-null **/
.skills-half-null{
	background-color: #dadada;
	height: 15px;
	width: 60px;
	float: left;
	margin: 5px;
    transform: skew(-20deg);
	border-radius: 3px;
	position: relative;
}
.skills-half-null:after{
	content: '';
	position: absolute;
	height: 100%;
	width: 50%;
	background-color: #ff3a5a;
	border-radius: 3px;
}
/** end-half-half **/
/** end: Creative-section **/
/** service-section **/
.service{
	padding: 50px 0px;
}
.service-item {
    padding: 30px 10px;
	margin: 20px 10px;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15); 
	border-radius: 10px;
	border-bottom: 4px solid #ff3a5a;
	background: #ffffff;
	box-shadow:  5px 5px 18px #cecfd4, 
				-5px -5px 18px #fcfdff;
	-webkit-box-shadow: 5px 5px 18px #cecfd4, 
						-5px -5px 18px #fcfdff;
	-moz-box-shadow: 5px 5px 18px #cecfd4, 
					-5px -5px 18px #fcfdff;
	transition: all 0.5s;
	border-radius: 10% 0% 10% 0%;
}
.service-item:hover{
	border-bottom: 4px solid #041D38;
	-webkit-box-shadow: 0px 10px 15px 0px rgb(165 165 165);
	-moz-box-shadow: 0px 10px 15px 0px rgb(165 165 165);
	box-shadow: 0px 10px 15px 0px rgb(165 165 165);
}
.service-item:hover .icon{
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
}
.service-item .icon{
	display: inline-block;
	border: 2px solid #66666650;
	border-radius: 50%;
	margin: 20px;
	padding: 20px;
	transition: all 0.5s;
}
.service-item i{
	font-size: 30px;
	color: #ff3a5a;
}
.service-item h3{
	font-size: 22px;
	color: #00ad96;
}
.service-item p{
	font-size: 15px;
	color: #787878;
	font-weight: 400;
}
/** Start Portfolio **/

/** End Portfolio **/
/** end: service-section **/
/** available-section **/
.available{
	background: url("../images/available.jpg");
	height: 100vh;
	width: 100%; 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
	position: relative;
}
.available:before{
	content:' ';
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	background-color: #000000;
	opacity: 0.7;
}
.available-text{
	text-align: center;
	position: absolute;
	top: 30%;
}
.available-text h3{
	color: #FFFFFF;
	font-size: 50px;
	font-weight: 500;
	margin-bottom: 30px;
}
.available-text h2{
	color: #FFFFFF;
	font-size: 55px;
	font-weight: 500;
	margin-bottom: 30px;
}
.hire-submit{
	text-align: center;
	margin-right: 10px;
	padding: 5px 25px;
	font-size: 15px;
	font-weight: 500;
	color: #ffffff;
	border: 1px solid #ff3a5a;
	background-color: #ff3a5a;
	transition: 0.5s;
}
.hire-submit:hover{
	color: #ff3a5a;
	border: 1px solid #ff3a5a;
	background-color: #ffffff;
}
/** end: available-section **/
/** Portfolio Section**/
.portfolio{
	padding: 50px 0px;
}
.port-menu{
    text-align: center;
    margin-top: 25px;
}
.port-menu ul li{
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 5px 20px;
	margin: 10px 0px;
    font-size: 15px;
    font-weight: 500;
    color: #FF3A5A;
    border: 1px solid #FF3A5A;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all 0.5 ease;
    -moz-transition: all 0.5 ease;
    -ms-transition: all 0.5 ease;
    -o-transition: all 0.5 ease;
    transition: all 0.5 ease;
}
.port-menu ul li:hover{
    background: #FF3A5A;
    color: #FFFFFF;
}
.port-menu li.active{
    background:	#FF3A5A;
    color: #FFFFFF !important;
}
.port-item-single{
	margin: 15px 0px;
}
.port-image img{
	height: 500px;
	width: 100%;
}

/** Count Section**/
.count{
	background-image: url(../images/counter-up.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
	color: #FFFFFF;
}
.count-effect {
    background: url(../images/texture.png); 
	height: 100%;
	width: 100%;
	background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
}
.count-body{
	padding: 30px 0px;
}
.count-element{
	padding: 30px 0px;
}
.count-element i{
	text-align:center;
	font-size: 40px;
}
.count-element h4{
	text-align:center;
	font-size: 38px;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 15px;
}
.count-element h5{
	text-align:center;
	font-size: 22px;
	font-weight: 700;
}
/** blog-section **/
.blog{
	background-color: #F8F8F8;
	padding: 50px 0px;
}
.blog-main-responsive{
	display: none;
}
.blog-main{
	margin: 25px 0px;
}
.blog-text{
	padding: 65px 20px;
	background-color: #FFFFFF;
}
.blog-text a{
	text-decoration: none;
}
.blog-date a{
	margin-bottom: 5px;
    color: #ff3a5a;
    font-size: 12px;
    font-weight: 500;
}
.blog-headline a h5{
	font-weight: 800;
    font-size: 22px;
    line-height: 1.4;
	color: #000000;
}
.blog-title  a{
	font-size: 12px;
    font-weight: 600;
    color: #999;
    margin-top: 5px;
}
.blog-details p{
	font-size: 16px;
    font-weight: 300;
    color: #777;
    line-height: 1.8;
    margin: 0;
}
.blog-button button{
	padding: 10px 15px;
    border-radius: 30px;
	color: #ff3a5a;
    background-color: #f7f7f7;
    margin-top: 30px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
	border: none;
	transition: 0.5s;
}
.blog-button .btn:focus{
	outline-style: none;
	border: none;
}
.blog-button .btn:hover{
	color: #ffffff;
    background-color: #ff3a5a;
}
.blog-image{
	overflow: hidden;
}
.blog-image img{
	-webkit-transition: all .4s;
    transition: all .4s;
	vertical-align: middle;
    border-style: none;
}
.blog-image img:hover{
	-webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
/** end-blog-section **/
/** contact-section **/
.contact{
	padding: 50px 0px;
}
.contact-form{
	padding: 20px 0px;
}
.form-single{
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
	height: 40px;
	border-radius: 0%;
	border: none;
	outline: none;
	background-color: #F4F5FA;
	color: #FFFFFF;
}
.form-single:focus{
	color: #1D1E3A;
	background-color: #FFFFFF;
	outline: 0;
	border: 1px solid #FF3A5A;
}
.form-group textarea {
	height: 120px !important ;
}
.contact-submit:focus{
	outline-style: none;
}
.contact-submit{
	text-align: center;
	margin-right: 10px;
	padding: 5px 25px;
	font-size: 15px;
	font-weight: 500;
	color: #ffffff;
	border: 1px solid #ff3a5a;
	background-color: #ff3a5a;
	transition: 0.5s;
}
.contact-submit:hover{
	color: #ff3a5a;
	border: 1px solid #ff3a5a;
	background-color: #ffffff;
}
.contact-bar{
	padding: 20px 0px;
}
.contact-bar i{
	color: #FF3A5A;
	font-size:30px;
	float: left;
	margin: 5px;
}
.contact-bar-info h5{
	color: #FF3A5A;
	font-size: 18px;
	font-weight: 700;
	padding: 8px;
}
.contact-bar-info a{
	font-size:16px;
	text-decoration: none;
	font-weight: 600;
	color: #1D1E3A;
	margin-left: 40px;
}
.contact-social{
	margin-left: 20px;
	margin-top: 2px;
}
.contact-social a{
	text-decoration: none;
	margin: 0px !important;
}
.contact-social i{
	text-align: center;
	float: none !important;
	font-size: 18px;
	padding: 5px;
	transition: all 0.4s;
	margin: 2px;
}
.contact-social i:hover{
	background-color: #FFFFFF;
	border-radius: 50%;
}
.contact-social .icofont-brand-whatsapp{
	color: #2CC54E !important;
}
.contact-social .icofont-facebook{
	color:	#007eff !important;
}
.contact-social .icofont-instagram{
	color:	#FF463E !important;
}
.contact-social .icofont-twitter{
	color:	#1DA1F2 !important;
}
.contact-social .icofont-linkedin{
	color:	#007BBF !important;
}
.contact-social .icofont-skype{
	color:	#1DA1F2 !important;
}
/** end: contact-section **/
/** footer-section **/
.footer{
	padding-top: 25px;
	padding-bottom: 20px;
	background-image: url(../images/home-bg.png);
	height: 100%;
	width: 100%;
	background-size: cover;
    background-attachment: fixed;
    background-position: center;
	font-family: 'Philosopher', sans-serif;
}
.footer-content	h2{
	color: #FFFFFF;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 30px;
}
.footer-social{
	margin-bottom: 30px;
}
.footer-social a{
	text-decoration: none;
}
.footer-social i{
	text-align: center;
	float: none !important;
	font-size: 20px;
	padding: 10px;
	transition: all 0.4s;
	margin: 2px;
	background-color: #14212B;
	border-radius: 50%;
	transition: all 0.5s;
}
.footer-social i:hover{
	background-color: #ffffff;
}
.footer-social .icofont-brand-whatsapp{
	color: #2CC54E !important;
}
.footer-social .icofont-facebook{
	color:	#007eff !important;
}
.footer-social .icofont-instagram{
	color:	#FF463E !important;
}
.footer-social .icofont-twitter{
	color:	#1DA1F2 !important;
}
.footer-social .icofont-linkedin{
	color:	#007BBF !important;
}
.footer-social .icofont-skype{
	color:	#1DA1F2 !important;
}
.footer-content p{
	margin: 0px auto; 
	color: #F5F5F5;
	font-size: 12px;
}
/** end: footer-section **/